/************ GENERELT ***********/
body {
    margin: 0;
    padding: 0;
    font-family: 'Cormorant', serif;
    background-attachment: fixed;
    background-position: center;
}

h1 {
    font-size: 2em;
    color: #262120;
}

.bold {
    font-family: 'Cormorant', bold;
}

.center {
    text-align: center;
}


/* Custom Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #F2EBDC;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #D9BD9C;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #D9A441;
}


/**********NAVIGATION ***********/
header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 1em;
    width: 100%;
    box-sizing: border-box;
    z-index: 15;
}

header .logo {
    height: 50px;
    line-height: 50px;
    float: left;
}

.logo img {
    width: 20%;
}

.logo {
    max-width: 500px;
}

.navigation {
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}

.logo a {
    text-decoration: none;
    color: #262120;
    font-size: 0.6em;
}

header nav {
    float: right;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 1em;
}

header nav ul li {
    list-style: none;
    position: relative;
}

header nav ul li.sub-menu:before {
    content: '\f078';
    font-family: fontAwesome;
    position: absolute;
    line-height: 50px;
    color: #262120;
    right: 3px;
}

header nav ul li.active.sub-menu:before {
    content: '\f077';
}

header nav ul li ul {
    position: absolute;
    left: 0;
    background: #262120;
    display: none;
}

header nav ul li.active ul {
    /* use li: hover instead */
    display: block;
}

header nav ul li ul li {
    display: block;
}

header nav ul li a {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    letter-spacing: 5px;
}

header nav ul li a:hover {
    color: #FFFFFF;
    background: #262120;
}

header nav ul li a.active {
    background: #262120;
}

.navbar {
    background-color: rgba(234, 223, 199, 0.74);
}

.menu-toggle {
    position: fixed;
    right: 0.4em;
    top: 0.4em;
    display: block;
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
}

.menu-toggle div {
    background-color: #262120;
    width: 25px;
    height: 3px;
    margin: 5px;
    transition: all 0.3s ease;
}


.solid {
    background-color: rgba(234, 223, 199, 0.74);
}


/*PC-menu*/


.pc_menu {
    display: none;
    position: fixed;
    height: 3em;
    right: 2em;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    padding-top: 2em;
}

.pc_menu a {
    text-decoration: none;
    color: #262120;
    padding: 1em;
    padding-top: 2em;
    padding-bottom: 1.75em;
    transition: 0.3s ease;
}

.pc_menu a:hover {
    color: white;
    transition: 0.3s ease;
}

/* Dropdown Button */
.dropbtn {
    color: #262120;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    float: left;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 1.75em;
    background-color: #262120;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    color: #262120;
    background-color: #D9A441;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    color: white;
    background-color: #262120;
}

.pcmenu_forside {
    float: left;
}

.pcmenu_forside a:hover {
    background: #262120;
}

.pcmenu_kontakt {
    float: left;
}

.pcmenu_kontakt a:hover {
    background-color: #262120;
}

/*NAVIGATION SLUT*/









/********** ANIMATIONER **********/

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


@keyframes tekstscale {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    10% {
        transform: scale(0);
        opacity: 0;
    }

    90% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}





/********** FORSIDE SPLASH **********/


#splashvideo img {
    width: 100%;

}

#forsidesplash {
    margin-top: 3.1rem;
    margin-left: 0rem;
    margin-right: 0rem;

}

.splashwrap {
    position: absolute;
    width: 100%;
    animation: tekstscale 0.5s ease;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
    z-index: 10;
}

.videotekst {
    color: white;
    text-shadow: 2px 2px 2px black;
    text-align: center;
    text-transform: uppercase;
    margin-top: 12vw;
    font-size: 1em;
    line-height: 1em;
}


.call-to-action {
    font-size: 0.5em;
    display: block;
    width: 8em;
    background-color: #D9A441;
    border: none;
    color: #FFFFFF;
    padding: 0.2em 0.7em 0.3em 0.7em;
    border-radius: 5em;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s ease;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    margin-bottom: 0.4em;
}

.call-to-action:hover {
    background-color: #FFFFFF;
    color: #D9A441;
    transition: 0.3s ease;
}


/********** FORSIDE CONTENT **********/

.forside-overskrift {
    text-align: center;
    font-size: 0.8em;
    margin-left: 1em;
    margin-right: 1em;
}


.forside-tekst1 {
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
    font-size: 0.8em;
}

.center-tekst {
    text-align: left;
    display: inline-block;
}

#tilbudwrapper {
    width: 90%;
    margin: 0 5%;
}

#tilbudwrapper img {
    width: 100%;
}

#tilbudwrapper h3 {
    text-align: center;
    padding-top: 0.5em;
    font-size: 1.4em;
}

.specialdesign,
.omsmeltning,
.katalog {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    font-size: 0.8em;
}

/* Pop */
@-webkit-keyframes hvr-pop {
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

@keyframes hvr-pop {
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

.hvr-grow {
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

.container {
    position: relative;
    width: 75%;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.box1,
.box2,
.box3 {
    background-color: black;
    height: 330px;
    border-radius: 5px;
}

.overlay h3 {
    color: black;
}

.image {
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;
}

.text {
    color: #F2EBDC;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.container:hover .overlay {
    opacity: 1;
    transition: 1s ease-in-out;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #F2EBDC;
    cursor: pointer;
    border-radius: 5px;
}

#tilbud p {
    margin: 1rem 1rem 1rem 1rem;
}

#tilbud h3 {
    margin: 1rem 1rem 1rem 1rem;
}

.popup1 {
    margin: 2rem 4rem 0rem 4rem;
    display: none;
    border-radius: 20px;
    transition: 0.5s ease-in;
    background-color: #FFFFFF;
}

.popup2 {
    margin: 2rem 4rem 0rem 4rem;
    display: none;
    border-radius: 20px;
    transition: 0.5s ease-in;
    background-color: #FFFFFF;


}

.popup3 {
    margin: 2rem 4rem 0rem 4rem;
    display: none;
    border-radius: 20px;
    transition: 0.5s ease-in;
    background-color: #FFFFFF;
}

.display {
    display: block;
}


/***********SMYKKER MENU************/
.containersmykker {
    position: relative;
    width: 75%;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.containersmykker:hover .overlay {
    opacity: 1;
    transition: 1s ease-in-out;
}

/**********SMYKKER GALLERI **********/

.post img {
    width: 100%;
}

.posts {
    margin: 3rem;
    margin-top: 5rem;
}

.post {

    padding: 1rem;

    margin: 0.5rem;
    background-color: #FFFFFF;
    box-shadow: 0px 0.5px 4px;

}

.post:hover {

    box-shadow: 0px 1px 10px;
}

.post h2 {
    text-align: center;
}


/************ SINGLE VIEW*************/
#popup {
    top: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: scroll;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.71);



}


#indhold img {
    max-width: 100%;
}

.singleret {
    padding: 1rem;


}

.skjul {
    display: none;
}

#indhold {
    min-height: 61vh;
    background-color: #FFFFFF;
    width: 77vw;
    margin: 4rem auto;
    border: 1px solid #262120;
    text-align: center;
}

.singleret img {
    max-width: 50%;
}

#luk button {
    width: 5vh;
    height: 5vh;
    position: absolute;
    top: 10vh;
    left: 44vh;
    background-color: transparent;
    border: 0px;
    font-size: 30px;
    z-index: 10;
}

/************ OM OS *******************/
.posts-om-os {
    margin: 3rem;
    margin-top: 4rem;
}

.post-om-os {
    padding: 0rem;



}

.post-om-os img {
    width: 100%;
}


.kunstnere-content {
    margin: 3rem;
    margin-top: 5rem;
    background-color: #FFFFFF;

}

.kunstnere-content h1 {
    text-align: center;
}

.kunstnere h1 {
    text-align: center;
    margin-top: 5rem;
}

/*********UDSTILLINGER *************/
.udstillinger-content {
    margin: 3rem;
}

.udstillinger-content h1 {
    text-align: center;
}

.post-udstillinger {
    margin: 3rem;
}

.posts-udstillinger img {
    width: 100%;
}

.underline-udstillinger {
    height: 1px;
    width: 200px;
    background-color: #262120;

}

/*************KONTAKT**************/
.kontakt {

    justify-content: center;
}

.titlekontakt {
    text-align: center;
    margin-top: 5rem;
}

.kontakt-content {
    margin: 3rem;
    margin-top: 0;
}

/********** iPAD MEDIA QUERY **********/

@media (min-width: 768px) {

    h1 {
        font-size: 3em;
    }

    .videotekst {
        font-size: 2.2em;
    }

    .call-to-action {
        font-size: 1em;
    }

    /* NAVIGATION*/
    .menu-toggle {
        margin-top: 0rem;
    }

    /* FORSIDE CONTENT */
    .forside-overskrift {
        font-size: 1.4em;
    }

    .forside-tekst1 {
        font-size: 1.3em;
        margin-bottom: 2em;
    }

    .specialdesign,
    .omsmeltning,
    .katalog {
        font-size: 1.3em;
    }

    #tilbudwrapper h3 {
        font-size: 1.2em;
    }

    .popup1 {
        margin-bottom: 0;
        display: block;
        opacity: 0;
        grid-row: 2;
        grid-column: 1;
        margin: 1rem;
        line-height: 1.5rem;
    }

    .popup2 {
        margin-bottom: 0;
        display: block;
        opacity: 0;
        grid-row: 2;
        grid-column: 2;
        margin: 1rem;
        line-height: 1.5rem;
    }

    .popup3 {
        margin-bottom: 0;
        display: block;
        opacity: 0;
        grid-row: 2;
        grid-column: 3;
        margin: 1rem;
        line-height: 1.5rem;
    }

    .display {
        opacity: 1;
    }

    .container1 {
        grid-row: 1;
        grid-column: 1;
    }

    .container2 {
        grid-row: 1;
        grid-column: 2;
    }

    .container3 {
        grid-row: 1;
        grid-column: 3;
    }

    /*Smykker Galleri*/
    .posts {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 5rem;
    }

    footer p {
        font-size: 1.2em !important;
    }

    .some_facebook {
        width: 2.5em !important;
    }

    .some_instagram {
        width: 2.5em !important;
    }
}









/********** DESKTOP MEDIA QUERY **********/
@media (min-width: 1024px) {

    .videotekst {
        font-size: 3em;
    }


    .call-to-action {
        font-size: 1.2em;
    }

    .navigation {
        display: none;
    }

    .pc_menu {
        display: block;
    }

    header nav ul li a {
        color: #262120;
    }

    header {
        height: 5em;
        justify-content: center;
        box-shadow: 0px 0px 4px;


    }

    .logo img {
        width: 50%;

    }

    .logo {
        margin-top: 1rem;
    }



    header nav ul li a {
        margin-top: 1rem;
    }

    header nav ul li.sub-menu:before {
        line-height: 100px;
    }

    header nav ul li ul {
        margin-top: 1rem;
    }

    .menu-toggle {
        display: none;
        margin-top: -3rem;
    }


    /*FORSIDE SPLASH*/
    #forsidesplash {
        margin-top: 5em;
    }

    /*FORSIDE CONTENT*/
    .forside-overskrift {
        font-size: 2em;
    }

    .forside-tekst1 {
        font-size: 1.5em;
    }


    .specialdesign,
    .omsmeltning,
    .katalog {
        font-size: 1.5em;
    }

    #tilbudwrapper h3 {
        font-size: 1em;
    }

    .overlay {
        border-radius: 5px;

    }

    .image {
        border-radius: 20px;
    }


    /*SMYKKER MENU */
    #smykker1wrap {
        justify-items: center;
        margin-left: 10rem;
        margin-right: 10rem;
        margin-top: 5rem;
    }

    #smykker2wrap {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1f 1fr 1frr;
        justify-items: center;
        margin-left: 4rem;
        margin-right: 4rem;
    }

    /*SMYKKER GALLERI*/

    .posts {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 8rem;
        cursor: pointer;
    }


    /************ SINGLE VIEW*************/


    #indhold img {
        max-width: 70%;
    }

    #indhold {
        min-height: 70vh;
        width: 100vh;
    }

    #luk button {
        left: 138vh;
    }

    /***********OM OS*************/
    .posts-om-os {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        margin-top: 0;
        margin: 8rem;
    }

    .post-om-os {
        padding: 1rem;
        margin: 1rem;
    }

    .kunstnere-content {
        margin: 5rem;
        margin-top: 0rem;
        margin-bottom: 0rem;
    }

    .kunstnere-content p {
        max-width: 600px;
    }

    .kunstnerwrap {
        display: flex;
        margin: 8rem;
        margin-top: 5rem;
    }

    .underline {
        height: 2px;
        width: 200px;
        background-color: #262120;
        text-align: center;
    }

    /*************UDSTILLINGER***************/
    .udstillinger-content {
        margin: 8rem;
        margin-top: 5rem;
        background-color: #FFFFFF;


    }

    .udstillinger-content p {
        max-width: 600px;
    }

    .posts-udstillinger {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        margin: 5rem;
    }


    .post-udstillinger:nth-child(2) .column-billede {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        margin-left: -0.5rem;
    }

    .post-udstillinger:nth-child(2) img {
        width: 100%;
    }

    .post-udstillinger:nth-child(1) .column-billede {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        margin-left: -0.5rem;
    }

    .column-billede img {
        border: 10px solid white;
    }

    /*************KONTAKT**************/
    .kontakt {
        display: flex;
    }

    .kontakt-content {
        margin: 5rem;
    }
}

@media (max-width: 1024px) {
    header {
        padding: 0;
    }

    header nav {
        position: absolute;
        top: 50px;
        left: -100%;
        width: 100%;
        height: 100vh;
        background: #262120;
        transition: 0.5s;
    }

    header .navbar {
        height: 80px;
    }

    header nav.active {
        left: 0;
    }

    header nav ul {
        display: block;
        text-align: center;
    }

    header nav ul li a {
        border-bottom: 0.9px solid rgba(0, 0, 0, .2);
    }

    header nav ul li.active ul {
        position: relative;
        background: #FFFFFF;
    }

    header nav ul li.active ul li a {
        color: #262120;
    }

    header nav ul li.active ul li a:hover {
        color: #262120;
        background: #D9A441;
    }

    header nav ul li.sub-menu:before {
        line-height: 50px;
        color: #FFFFFF;
        right: 10px;
    }

    header nav ul li ul li {
        width: 100%;
    }

    .logo img {
        width: 40%;
        vertical-align: middle;
    }

    .logo {
        margin-top: 0.1rem;
        padding: 0;
    }
}




/********** FOOTER **********/


footer {
    background-color: #D9BD9C;
    color: #262120;
    height: auto;
    margin-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    font-family: 'Dosis', sans-serif;
}

footer p {
    font-size: 0.8em;
    margin: 0;
    padding-top: 2em;
}

.footer_left {
    text-align: center;
    display: inline-block;
    width: 49%;
}

.centerparent {
    text-align: center;
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

.footer_centered {
    display: inline-block;
    text-align: left;
    text-align: center;
}

.footer_right {
    display: block;
    text-align: center;
    width: 100%;
}

.footer_right a {
    display: inline-block;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}

.kontaktlink {
    text-decoration: none;
    color: #262120;
}

.kontaktlink:hover {
    color: #FFFFFF;
    transition: 0.3s ease;
}

.some_facebook {
    width: 1.7em;
}

.some_instagram {
    width: 1.7em;
}




/*******MEDIA QUERIES*******/
@media (min-width: 520px) {

    #tilbudwrapper {
        display: flex;
        align-items: flex-start;
    }

    .specialdesign,
    .omsmeltning,
    .katalog {
        width: 28%;
        margin: 0 1em;
    }
}
