/************ GENERELT ***********/
body {
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-position: center;
}

h1 {
    font-size: 2em;
    color: #262120;
    font-family: 'Cormorant', serif;
    text-transform: uppercase;
}

h2 {
    font-size: 1.8em;
    color: #262120;
    font-family: 'Cormorant', serif;
    text-transform: uppercase;
}

h3 {
    font-size: 1.6em;
    color: #262120;
    font-family: 'Cormorant', serif;
    text-transform: uppercase;
}

p {
    line-height: 1.4em;
    font-family: 'Lato', sans-serif;
}

.bold {
    font-family: 'Cormorant', bold;
}

.center {
    text-align: center;
    margin-bottom: 0;
}

.title {
    text-transform: uppercase;
}

/*******MEDIA QUERIES (fonts)*******/



@media (min-width: 520px) {
    h2 {
        font-size: 2.2em;
    }

    h3 {
        font-size: 2em;
    }

    p {
        font-size: 1.1em;
    }

    .kasse {
        margin-bottom: 5em;
    }
}



/* Custom Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #F2EBDC;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #D9BD9C;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #D9A441;
}


/**********NAVIGATION ***********/
header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 1em;
    width: 100%;
    box-sizing: border-box;
    z-index: 15;
    box-shadow: 0px 0px 4px;
}

header .logo {
    height: 5.5em;
    line-height: 50px;
    float: left;
}

.logo img {
    width: 20%;
}

.logo {
    max-width: 400px;
}

.logo_pc {
    display: none;
}

.navigation {
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    top: 5.5em;
}

header nav {
    float: right;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 1em;
}

header nav ul li {
    list-style: none;
    position: relative;
}

header nav ul li.sub-menu:before {
    content: '\f078';
    font-family: fontAwesome;
    position: absolute;
    line-height: 50px;
    color: #262120;
    right: 3px;
}

header nav ul li.active.sub-menu:before {
    content: '\f077';
}

header nav ul li ul {
    position: absolute;
    left: 0;
    background: #262120;
    display: none;
}

header nav ul li.active ul {
    /* use li: hover instead */
    display: block;
}

header nav ul li ul li {
    display: block;
}

header nav ul li a {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    letter-spacing: 5px;
}

header nav ul li a:hover {
    color: #FFFFFF;
    background: #262120;
}

header nav ul li a.active {
    background: #262120;
}

.navbar {
    background-color: rgba(234, 223, 199, 0.74);
}

.menu-toggle {
    position: fixed;
    right: 0.4em;
    top: 1.25em;
    display: block;
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
}

.menu-toggle div {
    background-color: #262120;
    width: 25px;
    height: 3px;
    margin: 5px;
    transition: all 0.3s ease;
}


.solid {
    background-color: #F2EBDC;
}


/*PC-menu*/


.pc_menu {
    display: none;
    position: fixed;
    height: 3em;
    right: 2em;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    padding-top: 2em;
}

.pc_menu a {
    text-decoration: none;
    color: #262120;
    padding: 1em;
    padding-top: 2em;
    padding-bottom: 1.75em;
    transition: 0.3s ease;
}

.pc_menu a:hover {
    color: white;
    transition: 0.3s ease;
}

/* Dropdown Button */
.dropbtn {
    color: #262120;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    float: left;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 1.75em;
    background-color: #262120;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    color: #262120;
    background-color: #D9A441;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    color: white;
    background-color: #262120;
}

.pcmenu_forside {
    float: left;
}

.pcmenu_forside a:hover {
    background: #262120;
}

.pcmenu_kontakt {
    float: left;
}

.pcmenu_kontakt a:hover {
    background-color: #262120;
}

/*NAVIGATION SLUT*/









/********** ANIMATIONER **********/

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


@keyframes tekstscale {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    10% {
        transform: scale(0);
        opacity: 0;
    }

    90% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}


.blur {
    filter: blur(8px);
}


/********** FORSIDE SPLASH **********/


#splashvideo img {
    width: 100%;
}

#splashvideo video {
    width: 100%;
}

#forsidesplash {
    margin-top: 5.5em;
    margin-left: 0;
    margin-right: 0;

}

.splashwrap {
    position: absolute;
    width: 100%;
    animation: tekstscale 0.5s ease;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
    z-index: 10;
    display: none;
}

.videotekst {
    color: white;
    text-shadow: 2px 2px 2px #262120;
    text-align: center;
    text-transform: uppercase;
    margin-top: 12vw;
    line-height: 1em;
    margin-bottom: 0.4em;
}


.call-to-action {
    display: block;
    width: 8em;
    background-color: #D9A441;
    border: none;
    color: #FFFFFF;
    padding: 0.2em 0.7em 0.3em 0.7em;
    border-radius: 5em;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s ease;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    margin-bottom: 0.4em;
}

.call-to-action:hover {
    background-color: #FFFFFF;
    color: #D9A441;
    transition: 0.3s ease;
}


/********** FORSIDE CONTENT **********/

.forside-overskrift {
    text-align: center;
    text-transform: uppercase;
    margin-top: 3em;
    margin-left: 1em;
    margin-right: 1em;
}


.forside-tekst1 {
    text-align: center;
}

.center-tekst {
    text-align: left;
    display: inline-block;
}

#tilbud {
    margin: 0 7%;
}

#tilbud p {
    text-align: justify;
}

#tilbudwrapper img {
    width: 100%;
}

#tilbudwrapper h3 {
    text-align: center;
    margin: 0.8em 0 0.4em 0;
}

#tilbudwrapper a {
    display: block;
    width: 60%;
    margin: 0 20%;
}

.specialdesign,
.omsmeltning,
.katalog {
    margin: 5em 0;
}

/* Pop */
@-webkit-keyframes hvr-pop {
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

@keyframes hvr-pop {
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

.hvr-grow {
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

.container {
    position: relative;
    width: 75%;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.box1,
.box2,
.box3 {
    background-color: #262120;
    height: 330px;
    border-radius: 5px;
}

.overlay h3 {
    color: #262120;
}

.image {
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;
}

.text {
    color: #F2EBDC;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.container:hover .overlay {
    opacity: 1;
    transition: 1s ease-in-out;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #F2EBDC;
    cursor: pointer;
    border-radius: 5px;
}

.popup1 {
    margin: 2rem 4rem 0rem 4rem;
    display: none;
    border-radius: 20px;
    transition: 0.5s ease-in;
    background-color: #FFFFFF;
}

.popup2 {
    margin: 2rem 4rem 0rem 4rem;
    display: none;
    border-radius: 20px;
    transition: 0.5s ease-in;
    background-color: #FFFFFF;


}

.popup3 {
    margin: 2rem 4rem 0rem 4rem;
    display: none;
    border-radius: 20px;
    transition: 0.5s ease-in;
    background-color: #FFFFFF;
}

.display {
    display: block;
}


/***********SMYKKER MENU************/


.smykker-overskrift {
    text-align: center;
    text-transform: uppercase;
    margin-top: 9em;
    margin-left: 1em;
    margin-right: 1em;
}

.smykker-overskrift h1 {
    margin-bottom: 0.5em;
}

.smykker-tekst {
    text-align: center;
}

.topmargin {
    margin-top: 2em;
    text-align: center;
}

#smykker1 {
    margin: 0 5%;
}

#smykker2,
#smykker3,
#smykker4,
#smykker5,
#smykker6 {
    margin: 0 7%;
}

#smykker1 p {
    text-align: left;
    padding: 0 1.4em;
}

#smykker2 p {
    text-align: left;
    padding: 0 1.4em;
}

#smykker3 p {
    text-align: left;
    padding: 0 1.4em;
}

#smykker4 p {
    text-align: left;
    padding: 0 1.4em;
}

#smykker5 p {
    text-align: left;
    padding: 0 1.4em;
}

#smykker6 p {
    text-align: left;
    padding: 0 1.4em;
}

#smykker1wrap {
    margin: 3rem;
}

#smykker2wrap {
    margin: 3rem;
}

/* Container needed to position the button. Adjust the width as needed */
.kasse {
    position: relative;
    width: 100%;
    margin-bottom: 4em;

}

/* Make the image responsive */
.kasse img {
    width: 90%;
    padding: 0 5%;
    height: auto;
}

/* Style the button and place it in the middle of the container/image */

.kasse a {
    position: relative;
    left: 39%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #D9A441;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}

.kasse a:hover {
    color: #D9A441;
    background-color: white;
    border: 1px solid #D9A441;
    transition: 0.5s ease;
}

.containersmykker {
    position: relative;
    width: 75%;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.containersmykker:hover .overlay {
    opacity: 1;
    transition: 1s ease-in-out;
}

/**********SMYKKER GALLERI **********/

.post img {
    width: 100%;
}

.post {
    padding: 1rem;
    margin: 2em;
    background-color: #FFFFFF;
    box-shadow: 0px 0.5px 4px;
}

.post:hover {
    box-shadow: 0px 1px 10px;
}

.post h3 {
    text-align: center;
}

.pris {
    text-align: right;
}

/************ SINGLE VIEW*************/
#popup {
    top: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: scroll;
    z-index: 10;
}


#indhold img {
    max-width: 100%;
}

.singleret {
    padding: 1rem;



}

.skjul {
    display: none;
}

#indhold {

    min-height: 61vh;
    background-color: #FFFFFF;
    width: 77vw;
    margin: 4rem auto;
    margin-top: 8rem;
    box-shadow: 0px 0px 10px;
    text-align: center;
    border-radius: 20px;
}

.singleret img {
    max-width: 50%;
}

#luk button {
    color: white;
    width: 4em;
    height: 2em;
    position: fixed;
    top: 5.8em;
    left: 72%;
    background-color: #D9A441;
    border: 0px;
    font-size: 1em;
    z-index: 10;
    cursor: pointer;
    border-radius: 50px;
}

#luk button:hover {
    background-color: white;
    color: #D9A441;
    border: 1px solid #262120;
}

/************ OM OS *******************/
.posts-om-os {
    margin: 0 7%;
    margin-bottom: 5em;
}

.post-om-os {
    padding: 0rem;



}

.post-om-os img {
    width: 100%;
}


.kunstnere-content {
    margin: 0 7%;
}

.kunstnere-content h1 {
    text-align: center;
}

.kunstnere {
    margin-bottom: 5em;
}

.kunstnere h1 {
    text-align: center;
    margin-top: 4em;
}

/*********UDSTILLINGER *************/
.udstillinger-content {
    margin: 0 7%;
}

.udstillinger-content h1 {
    text-align: center;
}

.udstillinger-content h3 {
    margin-top: 2em;
}

.udstillinger-overskrift {
    margin-top: 4em;
}

.post-udstillinger {
    margin: 0 7%;
    margin-top: 4em;
    margin-bottom: 2em;
}

.posts-udstillinger img {
    width: 100%;
}

.underline-udstillinger {
    height: 1px;
    width: 200px;
    background-color: #262120;

}

/*************INSPIRATION**************/
.inspiration-overskrift {
    text-align: center;
    margin: 3rem;
    margin-top: 4em;

}

.inspiration-tekst {

    text-align: center;
    margin: 0 7%;
}

#fortaellingwrap {
    margin-bottom: 4em;
}

#fortaellingwrap img {
    width: 100%;
}

#fortaellinger h2 {
    margin: 0 7%;
    margin-top: 2em;
    text-align: center;
}

.fcolumns {
    margin: 0 7%;
}

/*************KONTAKT**************/
.kontaktportraet img {
    width: 100%;
}

.kontaktportraet {
    margin: 0 7%;
    margin-bottom: 4em;
    text-align: center;
}

.kontakt {
    margin: 0 7%;
    justify-content: center;
}

.kontakt-right {
    margin-bottom: 4em;
}

.kontakt-right iframe {
    width: 100%;
}

.lokation {
    margin-bottom: 4em;
}

.lokation h2 {
    text-align: center;
    margin-top: 0;
}

.underrubrik {
    text-align: center;
}

.aabning {
    margin-bottom: 4em;
}

.aabning h2 {
    text-align: center;
}

.aabning p {
    text-align: center;
}

#desktop {
    display: none;
}

.titlekontakt {
    text-transform: uppercase;
    text-align: center;
    margin-top: 4em;
}


.kontakthref {
    text-decoration: none;
    color: #262120;
}

.kontakthref:hover {
    color: #D9A441;
}

#desktop {
    display: none;
}

#mobile {
    display: block;
    margin-bottom: 2em;
}

#tablet {
    display: none;
}


/********** FOOTER **********/


footer {
    background-color: #262120;
    color: #F2EBDC;
    height: auto;
    margin-top: 1em;
    padding-top: 1.8em;
    padding-left: 1em;
    padding-right: 1em;
    font-family: 'Dosis', sans-serif;
}

footer p {
    font-size: 0.8em;
    margin: 0;
    padding-top: 2em;
}

.footer_left {
    text-align: center;
    display: inline-block;
    width: 49%;
}

.centerparent {
    text-align: center;
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

.footer_centered {
    display: inline-block;
    text-align: left;
    text-align: center;
}

.footer_right {
    display: block;
    text-align: center;
    width: 100%;
}

.footer_right a {
    display: inline-block;
    margin: 2em 0.5em;
}

.kontaktlink {
    text-decoration: none;
    color: #F2EBDC;
}

.kontaktlink:hover {
    color: #FFFFFF;
    transition: 0.3s ease;
}

.some_facebook {
    width: 1.7em;
}

.some_instagram {
    width: 1.7em;
}


/********** iPAD MEDIA QUERY **********/

@media (min-width: 768px) {

    h1 {
        font-size: 3em;
    }

    h3 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
    }

    /* NAVIGATION*/
    .menu-toggle {
        margin-top: 0rem;
    }

    /* FORSIDE CONTENT */

    .splashwrap {
        display: block;
    }

    .forside-tekst1 {
        margin-bottom: 2em;
    }


    #tilbudwrapper {
        display: flex;
        align-items: flex-start;
    }

    #tilbudswrapper a {
        display: block;
    }

    .specialdesign,
    .omsmeltning,
    .katalog {
        width: 33%;
        margin-top: 0.5em;
    }

    #tilbud {
        margin: 0 5%;
    }

    #tilbud p {
        text-align: left;
        padding: 0 1.4em;
    }



    .popup1 {
        margin-bottom: 0;
        display: block;
        opacity: 0;
        grid-row: 2;
        grid-column: 1;
        margin: 1rem;
        line-height: 1.5rem;
    }

    .popup2 {
        margin-bottom: 0;
        display: block;
        opacity: 0;
        grid-row: 2;
        grid-column: 2;
        margin: 1rem;
        line-height: 1.5rem;
    }

    .popup3 {
        margin-bottom: 0;
        display: block;
        opacity: 0;
        grid-row: 2;
        grid-column: 3;
        margin: 1rem;
        line-height: 1.5rem;
    }

    .display {
        opacity: 1;
    }

    .container1 {
        grid-row: 1;
        grid-column: 1;
    }

    .container2 {
        grid-row: 1;
        grid-column: 2;
    }

    .container3 {
        grid-row: 1;
        grid-column: 3;
    }

    /*********** SMYKKER MENU************/
    #smykker1wrap {
        justify-items: center;
        margin-top: 1em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #smykker2,
    #smykker3,
    #smykker4,
    #smykker5,
    #smykker6 {
        margin: 0 5%;
    }

    /*Smykker Galleri*/
    .posts {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .post {
        margin: 1em;
    }

    footer p {
        font-size: 1em;
    }

    .some_facebook {
        width: 2.5em;
    }

    .some_instagram {
        width: 2.5em;
    }

    /*********** KONTAKT ************/

    .kontakt-left {
        display: flex;
        margin-top: 2em;
    }

    .aabning {
        width: 50%;
    }

    .lokation {
        width: 50%;
    }


    .titlekontakt {
        margin-top: 2.7em;
    }

    #tablet {
        margin-right: 2rem;
        margin-top: 2rem;
    }

    .aabning h2 {
        margin-top: 0;
    }


    /*********** OM OS ************/
    .kunstnere h1 {
        margin-top: 2.7em;
    }

    .kunstnere-content {
        margin: 0 5%;
    }


    /*********** INSPIRATION ************/
    .inspiration-overskrift {
        margin-top: 2.7em;
    }

    .inspiration-tekst {
        margin: 0 5%;
    }

    .fcolumns {
        margin: 0 5%;
    }


    /*********** UDSTILLINGER ************/
    .udstillinger-overskrift {
        margin-top: 2.7em;
    }

    #desktop {
        display: none;
    }

    #mobile {
        display: none;
    }

    #tablet {
        display: block;
        margin-top: 0;
    }

    .post-udstillinger {
        margin-bottom: 4em;
    }
}



/********** DESKTOP MEDIA QUERY **********/
@media (min-width: 1024px) {

    h2 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 1.8em;
    }

    p {
        font-size: 1.1em;
    }

    .navigation {
        display: none;
    }

    .pc_menu {
        display: block;
    }

    header nav ul li a {
        color: #262120;
    }

    header {
        height: 5em;
        justify-content: center;
        box-shadow: 0px 0px 4px;


    }

    .logo img {
        width: 50%;

    }

    .logo {
        margin-top: 0.5rem;
    }

    .logo_mobile {
        display: none;
    }

    .logo_pc {
        display: block;
    }

    header nav ul li a {
        margin-top: 1rem;
    }

    header nav ul li.sub-menu:before {
        line-height: 100px;

    }

    header nav ul li ul {
        margin-top: 1rem;
    }

    .menu-toggle {
        display: none;
        margin-top: -3rem;
    }


    /*FORSIDE SPLASH*/
    #forsidesplash {
        margin-top: 5em;
    }

    /*FORSIDE CONTENT*/

    .overlay {
        border-radius: 5px;

    }

    .image {
        border-radius: 20px;
    }


    /*SMYKKER MENU */
    #smykker1wrap {
        justify-items: center;
        margin-top: 5rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr
    }

    #smykker2wrap {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        margin-left: 4rem;
        margin-right: 4rem;
    }

    #smykker2,
    #smykker3,
    #smykker4,
    #smykker5,
    #smykker6 {
        margin: 0 5%;
    }

    /*SMYKKER GALLERI*/

    .posts {
        grid-template-columns: 25% 25% 25% 25%;
        cursor: pointer;
    }


    /************ SINGLE VIEW*************/
    #popup {
        top: 5rem;
        width: 100vw;
        height: 100vh;
        position: fixed;
        overflow: scroll;
        z-index: 10;
    }

    .skjul {
        display: none;
    }

    #indhold {
        min-height: 51vh;
        background-color: #FFFFFF;
        width: 77vw;
        margin: 4rem auto;

        box-shadow: 0px 0px 10px;
        border-radius: 10px;
        text-align: center;
    }

    #indhold img {
        width: 30%;
    }

    .singleret img {
        width: 50%;
    }

    #luk button:hover {
        background-color: white;
        color: #D9A441;
        border: 1px solid #262120;
    }

    /***********OM OS*************/
    .kunstnere h1 {
        margin-top: 8rem;
    }

    .posts-om-os {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        margin: 0 4%;
    }

    .post-om-os {
        padding: 1rem;
        margin: 1rem;
    }

    .kunstnere-content p {
        max-width: 600px;
    }

    .kunstnerwrap {
        display: flex;
    }

    .underline {
        height: 2px;
        width: 200px;
        background-color: #262120;
        text-align: center;
    }

    .underrubrik {
        margin-top: 0.5em;
    }

    .navn {
        text-align: center;
    }

    .rubrik {
        text-align: center;
    }

    .underline {
        margin: 0 auto;
    }

    /*************UDSTILLINGER***************/
    .udstillinger-content {
        margin-bottom: 0;
        margin-top: 5rem;
    }

    .udstillinger-overskrift {
        margin-top: 8rem;
    }

    .underline-udstillinger {
        width: 100%;
    }


    .posts-udstillinger {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        margin: 2rem;
    }


    .post-udstillinger:nth-child(2) .column-billede {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        margin-left: -0.5rem;
    }

    .post-udstillinger:nth-child(2) img {
        width: 100%;
    }

    .post-udstillinger:nth-child(1) .column-billede {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        margin-left: -0.5rem;
    }

    .column-billede img {
        border: 10px solid white;
    }

    /*************INSPIRATION**************/
    .inspiration-overskrift {
        margin-top: 8rem;
    }

    #fortaellingwrap {
        display: flex;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    #fortaellinger h2 {
        margin: 5rem;

        margin-bottom: 0;
    }

    .fcolumns {
        margin: 3rem;
    }

    .fortaelling-left-column img {
        width: 70%;
    }

    #small {
        width: 50%;
    }

    /*************KONTAKT**************/
    .kontaktportraet img {
        width: 70%;
    }

    .titlekontakt {
        margin-top: 8rem;
    }

    .kontaktportraet {
        margin: 5rem;
        text-align: center;
    }

    iframe {
        margin-top: 2rem;
    }

    #desktop {
        display: block;
        margin-top: 0;
    }

    #mobile {
        display: none;
    }

    #tablet {
        display: none;
    }

    /*************FOOTER**************/

    footer p {
        font-size: 1.1em;
    }

    .some_facebook {
        width: 2.8em;
    }

    .some_instagram {
        width: 2.8em;
    }


}

@media (max-width: 1024px) {
    header {
        padding: 0;
    }

    header nav {
        position: absolute;
        top: 50px;
        left: -100%;
        width: 100%;
        height: 100vh;
        background: #262120;
        transition: 0.5s;
    }

    header .navbar {
        height: 80px;
    }

    header nav.active {
        left: 0;
    }

    header nav ul {
        display: block;
        text-align: center;
    }

    header nav ul li a {
        border-bottom: 0.9px solid rgba(0, 0, 0, .2);
    }

    header nav ul li.active ul {
        position: relative;
        background: #FFFFFF;
    }

    header nav ul li.active ul li a {
        color: #262120;
    }

    header nav ul li.active ul li a:hover {
        color: #262120;
        background: #D9A441;
    }

    header nav ul li.sub-menu:before {
        line-height: 50px;
        color: #FFFFFF;
        right: 10px;
        padding: 10px;

    }

    header nav ul li ul li {
        width: 100%;
    }
}
